@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

/**********************/
/**** Header 부분 ****/
/**********************/
header{
    background-color:#c0711779 !important;
    height: 80px ;
    width: 100%;
  }

  
header a{
    margin: 0px 30px 0px 100px ;
    font-size:30px;
    font-weight: 800 !important;
    text-decoration: none;
    line-height: 2;
  }
  
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

/**********************/
/**** 도토리 사진진 부분 ****/
/**********************/

.maintitle {
    background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fpng.pngtree.com%2Fthumb_back%2Ffw800%2Fbackground%2F20221202%2Fpngtree-acorns-and-acorn-leaves-seamless-autumn-pattern-vector-illustration-image_1489795.jpg&type=a340);
    margin: 0px 0px 10px 0px;
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-title {
    color: black; /* 텍스트 색상 */
    background: white; /* 배경 */
    padding: 20px; /* 여백 */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* 그림자 */
    border-radius: 40px;
    display: inline-block; 
    font-family: "Gamja Flower", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-title h2{
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}




/**********************/
/**** Input 부분 ****/
/**********************/
#plusBox {
    background-color: rgb(255, 247, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    border: 2px solid rgb(235, 186, 146);
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.616);
}

.form-floating{
    width: 80%;
    margin: 20px 0;
    box-shadow: 3px 2px 0px 0px rgba(207, 207, 207, 0.678);
}

.mypostingbox  h3 {
    font-weight: 600;
}

#scrumBtn{
    width: 400px;
}


/**********************/
/**** 데이터 추가 부분 ****/
/**********************/
#stack_scrum{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 100vh;
}
.accordion-item{
    margin-bottom: 10px;
    border: 1px groove #c0711779 !important;
    border-radius: 2px !important;
}

#goalGap{
    width: 10px;
    height: 20px;
}
.stack-check{
    margin-bottom: 10px !important;
}

.form-check-input{
    color:black !important
}

.accordion-item h6{
    font-weight: 500 !important;
}

.accordion-button{
    font-weight: 600;
}

.accordion-item h5{
    font-weight: 700;
}


/* 수정하기 박스 */
#scrumEditDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 100 !important;
}


#editBox{
        background-color: rgba(255, 255, 255, 0.897);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        border: 3px solid rgb(235, 186, 146);
        border-radius: 20px;
        width: 700px;
        padding: 20px;
        box-shadow: 5px 5px 5px 5px rgba(8, 8, 8, 0.39);
}