@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Gowun+Batang&family=Gowun+Dodum&family=Jua&display=swap');

*{
  font-family: "Gowun Dodum", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(140, 140, 140);
  min-height: 100vh;
}

/**********************/
/**** Header 부분 ****/
/**********************/
.nav,
header {
  background-color: #c0711779 !important;
}

.navbar {
  margin: 0px 20vh 0px 20vh;
}

.navbar {
  height: 80px;
}

header a {
  font-size: 30px !important;
  font-weight: 800 !important;
  text-decoration: none;
  font-family: "Gowun Dodum", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: rgba(255, 145, 0, 0.672) !important;
  font-size: large;
}

/**********************/
/**** 소개말 부분 ****/
/**********************/

#intro{
  margin: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  margin-bottom: 100px;
}

#intro-img{
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);  /* 그림자 효과 */
}

#intro-img> img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  padding:20px;
  position: relative;
}


/**********************/
/**** MBTI 부분 ****/
/**********************/
.card{
  width: 400px;
  height: 100px;
}

#mbti-section{
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

div > h4{
  font-size:40px;
  font-weight: 700;
  margin-bottom:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title{
  display: flex;
  justify-content: center;
  font-weight: 600;
}


/**********************/
/**** 나의 성격 부분 ****/
/**********************/
.accordion {
  width: 100vh;
  margin: auto;
  margin-bottom: 100px;
}

/**********************/
/**** 기술 스택 부분 ****/
/**********************/
#tech_stack{
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

.stack{
  display: flex;
  justify-content: center;
}

p{
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**********************/
/**** 참고사이트 부분 ****/
/**********************/
#site{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}


/* 텍스트가 처음에는 안 보이도록 설정 */
#text {
    opacity: 0;  /* 처음에는 보이지 않음 */
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;  /* 애니메이션 설정 */
    margin-top: 20px;
}

/* @keyframes로 fadeIn 애니메이션 정의 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}