@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Gowun+Batang&family=Gowun+Dodum&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Nanum+Pen+Script&display=swap');


/**** Header 부분 ****/

  

.nav, header{
    background-color:#c0711779 !important;
  }
  .navbar{
    margin: 0px 20vh 0px 20vh;
  }
  
  header a{
    font-size:40px;
    font-weight: 800 !important;
    text-decoration: none;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  
  a:link, a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  .btn{
    background-color: rgba(255, 145, 0, 0.672) !important;
  }
  


/**** Header 부분 ****/

/**** 소개말 부분 ****/

.text-gh {
    color: black;      
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Nanum Pen Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.profile-pic {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.profile-pic > img {
    border-radius: 50%;
    margin: 10px;
    
}

.btn-gh{
    
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btn-gh{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    text-decoration: none;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
/**** 소개말 부분 ****/

/**** 캐러셀 부분 ****/
#carouselExampleDark {
    margin: auto auto 20px auto;
    width:100%;
       
}

.carousel-item {
    height: 300px;
    background-color:#b47b3979 !important;   
}
.card {
    
    margin: auto auto 50px auto ;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
/**** 캐러셀 부분 ****/

/**** 참고 사이트 부분 ****/

#site {
    margin-top: 20px;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}